[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
firebase-admin = "*"
python-dotenv = "*"
polyline = "*"
geopandas = "*"
numpy = "*"
pandas = "*"
scipy = "*"
Flask = "*"
Shapely = "*"

[dev-packages]

[requires]
python_version = "3.10"
