<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <h3 class="mt-3">{{ activity_data|length }} ACTIVITIES FOUND IN DATABASE</h3>
      <ul class="mt-3" style="list-style-type: none; padding-left: 0;">
        {% for item in activity_data|reverse %}
        <li class="activity-listing">
          <a href="https://www.strava.com/activities/{{item['id']}}" target="_blank">
            {{item['id']}}</a>
            | {{'%0.1f'|format(item['distance'] / 1000 * 0.621371)|float}}mi | {{item['name']}}
            | <a href="/action/activity/{{item['id']}}" target="_blank">JSON</a>
        </li>
        {% endfor %}
      </ul>
    <script>
    </script>
  </body>
</html>
