<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <p class="mt-3 text-muted">Click to fetch newest activities from Strava and add them to our database.
          By default, this checks for activities in the last week.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="full-history-checkbox">
        <label class="form-check-label text-muted" for="full-history-checkbox">
          <p>Scan all activities on Strava (slower)</p>
        </label>
      </div>
      <button id="fetch-button" class="btn btn-primary" type="button">
        Pull from Strava
      </button>
      <div id="fetch-status"></div>
      <h3 class="mt-3">{{ items|length }} ACTIVITIES FOUND IN DATABASE</h3>
      <ul class="mt-3" style="list-style-type: none; padding-left: 0;">
        {% for item in items|reverse %}
        <li class="activity-listing">
          <a href="https://www.strava.com/activities/{{item['id']}}" target="_blank">
            {{item['id']}}</a>
            | {{'%0.1f'|format(item['distance'] / 1000 * 0.621371)|float}}mi | {{item['name']}}
            | <a href="/action/activity/{{item['id']}}" target="_blank">JSON</a>
        </li>
        {% endfor %}
      </ul>
      <p class="mt-3 text-muted">Click to match each activity in the database to the street map.
        Noisy GPS coordinates are aligned to streets, and then aggregated into a coverage map.
        By default, this will only process new activities, but you can optionally re-process all.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="match-all-checkbox">
        <label class="form-check-label text-muted" for="match-all-checkbox">
          <p>Re-match entire database (slower)</p>
        </label>
      </div>
      <button id="match-button" class="btn btn-primary" type="button">
        Match activities to map
      </button>
      <div id="match-status"></div>

      <h3 class="mt-3">DANGER ZONE</h3>
      <button id="clear-coverage" class="btn btn-danger" type="button">
        Clear matched segments
      </button>
      <div id="danger-status"></div>
    </div>
    <script>
      //========================================================================
      // Control fetch button behavior.
      $('#fetch-button').on('click', function(e) {
        if ($('#fetch-button').hasClass('disabled')) {
          return;
        }

        $('#fetch-button').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Fetching...');
        $('#fetch-button').addClass('disabled');

        // Do stuff here.
        $.ajax({
          url: '/action/pull-activities',
          type: 'GET',
          data: {
            scope: $('#full-history-checkbox').prop('checked') ? 'all' : 'week_only'
          },
          success: function(r) {
            console.debug(r);

            $('#fetch-status').html(`\
              <div class="alert alert-success mt-3 text-small" role="alert">\
                Found ${r["new_count"]} new, ${r["total_count"]} total. Refresh to see new activities below.\
              </div>`)

            // Reset to the original button state.
            $('#fetch-button').html('Pull from Strava');
            $('#fetch-button').removeClass('disabled');
          },
          error: function(xhr) {
            console.debug(xhr);

            let msg = xhr.responseJSON ? `${xhr.status}: ${xhr['responseJSON']['error']}` : `${xhr.status}: ${xhr.statusText}`

            $('#fetch-status').html(`\
              <div class="alert alert-danger mt-3 text-small" role="alert">\
                ${msg}
              </div>`)

            // Reset to the original button state.
            $('#fetch-button').html('Pull from Strava');
            $('#fetch-button').removeClass('disabled');
          }
        });
      });

      //========================================================================

      $('#match-button').on('click', function(e) {
        if ($('#match-button').hasClass('disabled')) {
          return;
        }

        $('#match-button').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Running...');
        $('#match-button').addClass('disabled');

        // Do stuff here.
        $.ajax({
          url: '/action/match-activities',
          type: 'GET',
          data: {
            scope: $('#match-all-checkbox').prop('checked') ? 'all' : 'new_only'
          },
          success: function(r) {
            console.debug(r);

            $('#match-status').html(`\
              <div class="alert alert-success mt-3 text-small" role="alert">\
                Matched ${r["unmatched_ids"]} activities. Go to the map to see new coverage.\
              </div>`)

            // Reset to the original button state.
            $('#match-button').html('Match activities to map');
            $('#match-button').removeClass('disabled');
          },
          error: function(xhr) {
            console.debug(xhr);

            let msg = xhr.responseJSON ? `${xhr.status}: ${xhr['responseJSON']['error']}` : `${xhr.status}: ${xhr.statusText}`
            $('#match-status').html(`\
              <div class="alert alert-danger mt-3 text-small" role="alert">\
                ${msg}
              </div>`)

            // Reset to the original button state.
            $('#match-button').html('Match activities to map');
            $('#match-button').removeClass('disabled');
          }
        });
      });

      //========================================================================
      $('#clear-coverage').on('click', function(e) {
        let buttonId = '#clear-coverage';
        let statusId = '#danger-status';

        if ($(buttonId).hasClass('disabled')) {
          return;
        }

        $(buttonId).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Running...');
        $(buttonId).addClass('disabled');

        // Do stuff here.
        $.ajax({
          url: '/action/clear-coverage',
          type: 'GET',
          data: {
          },
          success: function(r) {
            console.debug(r);

            $(statusId).html(`\
              <div class="alert alert-success mt-3 text-small" role="alert">\
                Cleared coverage data. You can re-run from a clean slate now.\
              </div>`)

            // Reset to the original button state.
            $(buttonId).html('Match activities to map');
            $(buttonId).removeClass('disabled');
          },
          error: function(xhr) {
            console.debug(xhr);

            let msg = xhr.responseJSON ? `${xhr.status}: ${xhr['responseJSON']['error']}` : `${xhr.status}: ${xhr.statusText}`
            $(statusId).html(`\
              <div class="alert alert-danger mt-3 text-small" role="alert">\
                ${msg}
              </div>`)

            // Reset to the original button state.
            $(buttonId).html('Match activities to map');
            $(buttonId).removeClass('disabled');
          }
        });
      });
    </script>
  </body>
</html>
