<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <p class="mt-3 text-muted">Click to fetch newest activities from Strava and add them to our database.
          By default, this checks for activities in the last week.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="full-history-checkbox">
        <label class="form-check-label text-muted" for="full-history-checkbox">
          <p>Scan all activities on Strava (slower)</p>
        </label>
      </div>
      <button id="fetch-button" class="btn btn-primary" type="button">
        Pull from Strava
      </button>
      <div id="fetch-status"></div>
      <h3 class="mt-3">{{ activity_data|length }} ACTIVITIES FOUND IN DATABASE</h3>
      <ul class="mt-3" style="list-style-type: none; padding-left: 0;">
        {% for item in activity_data|reverse %}
        <li class="activity-listing">
          <a href="https://www.strava.com/activities/{{item['id']}}" target="_blank">
            {{item['id']}}</a>
            | {{'%0.1f'|format(item['distance'] / 1000 * 0.621371)|float}}mi | {{item['name']}}
            | <a href="/action/activity/{{item['id']}}" target="_blank">JSON</a>
        </li>
        {% endfor %}
      </ul>
      <p class="mt-3 text-muted">Click to match each activity in the database to the street map.
        Noisy GPS coordinates are aligned to streets, and then aggregated into a coverage map.
        By default, this will only process new activities, but you can optionally re-process all.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="match-all-checkbox">
        <label class="form-check-label text-muted" for="match-all-checkbox">
          <p>Re-match entire database (slower)</p>
        </label>
      </div>
      <button id="match-button" class="btn btn-primary" type="button">
        Match activities to map
      </button>
      <div id="match-status"></div>

      <h3 class="mt-5">DANGER ZONE</h3>
      <button id="clear-coverage" class="btn btn-danger" type="button">
        Clear matched segments
      </button>
      <div id="danger-status"></div>
    </div>
    <script>
      //========================================================================
      let DEFAULT_MAP_NAME = 'CAMBRIDGE_MA_US';

      // Helper function for making calls to a server function on a button click. This optionally
      // allows for a status message to pop up with the result.
      function callServerFunction(buttonId, statusId, url, reqParams, makeSuccessMessage) {
        if ($(buttonId).hasClass('disabled')) {
          return;
        }
        let originalText = $(buttonId).html();

        $(buttonId).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Working...');
        $(buttonId).addClass('disabled');

        let urlWithParams = url + '?' + new URLSearchParams(reqParams);

        fetch(urlWithParams,
          {
            method: 'GET', headers: { 'Content-Type': 'application/json' }
          })
          .then(response => {
            if (!response.ok) {
              throw Error(`${response.status}: ${response.statusText}`)
            }
            return response.json()
          })
          .then(response => {
            let msg = makeSuccessMessage(response);
            $(statusId).html(
              `<div class="alert alert-success mt-3 text-small" role="alert">\
                ${msg}\
              </div>`);
            $(buttonId).html(originalText);
            $(buttonId).removeClass('disabled');
          })
          .catch((error) => {
            console.error(error);

            if (statusId) {
              $(statusId).html(`<div class="alert alert-danger mt-3 text-small" role="alert">${error}</div>`);
            }
            $(buttonId).html(originalText);
            $(buttonId).removeClass('disabled');
          });
      }

      //========================================================================

      $('#fetch-button').on('click', (e) => {
        let scope = $('#full-history-checkbox').prop('checked') ? 'all' : 'week_only';
        callServerFunction(
          '#fetch-button',
          '#fetch-status',
          `/action/pull-activities`,
          {
            'scope': scope
          },
          (r) => {
            return `Found ${r["new_count"]} new, ${r["total_count"]} total. Refresh to see new activities below.`;
          }
        )
      });

      $('#match-button').on('click', (e) => {
        let scope = $('#match-all-checkbox').prop('checked') ? 'all' : 'new_only';
        callServerFunction(
          '#match-button',
          '#match-status',
          `/action/match-activities/${DEFAULT_MAP_NAME}`,
          {
            'scope': scope
          },
          (r) => {
            return `Matched ${r["unmatched_ids"]} activities. Go to the map to see new coverage.`;
          }
        )
      });

      $('#clear-coverage').on('click', (e) => {
        let scope = $('#match-all-checkbox').prop('checked') ? 'all' : 'new_only';
        callServerFunction(
          '#clear-coverage',
          '#danger-status',
          `/action/clear-coverage/${DEFAULT_MAP_NAME}`,
          {},
          (r) => {
            return `Cleared coverage data. You can re-run from a clean slate now.`;
          }
        )
      });
    </script>
  </body>
</html>
