<!-- NOTE: Must be a 'module' for imports to be allowed. -->
<script type="module">
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.5/firebase-app.js';

  // https://stackoverflow.com/questions/5786851/define-a-global-variable-in-a-javascript-function
  // Assign these variables to 'window' to make them global.
  import { getDatabase, ref, get, update } from 'https://www.gstatic.com/firebasejs/9.6.5/firebase-database.js';

  window.firebaseApp = initializeApp({
    apiKey: "AIzaSyBEuvLFpyt0-VSO5k-Zmx88kytvymrU_Z0",
    databaseURL: "https://everystreet-v2-default-rtdb.firebaseio.com/",
  });

  window.firebaseDatabase = getDatabase(firebaseApp);
  window.db = {
    ref: ref,
    get: get,
    update: update
  }
</script>
