<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  {% include 'firebase.html' %}
  <body>
    {% include 'navbar.html' %}
    <div id="map"></div>

    <div id="toolbar" class="btn-toolbar mb-3" role="toolbar" aria-label="Map display toolbar">
      <div class="btn-group me-2" role="group" aria-label="Button group">
        <input type="checkbox" class="btn-check" name="btnradio" id="show-coverage" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="show-coverage">Coverage</label>

        <input type="checkbox" class="btn-check" name="btnradio" id="show-raw" autocomplete="off">
        <label class="btn btn-outline-primary" for="show-raw">Raw</label>
      </div>
      <input type="checkbox" class="btn-check" id="show-boundary" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="show-boundary">Boundary</label>

      <input type="checkbox" class="btn-check" id="show-network" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="show-network" style="margin-left: 8px">Streets</label>
    </div>

    <script>
      //========================================================================

      // Hide or unhide a layer by name.
      function toggleVisibility(layerName, visible) {
        map.setLayoutProperty(layerName, 'visibility', visible ? 'visible' : 'none');
      }

      // Add a feature collection as a single layer.
      function addFeatureCollection(featureList, layerName, layerColor) {
        if (!map.getSource(layerName)) {
          map.addSource(layerName,
            {
              type: 'geojson',
              data: {
                'type': 'FeatureCollection',
                'features': featureList
              }
            }
          );
          map.addLayer({
            id: layerName,
            type: 'line',
            source: layerName,
            layout: {
              'line-join': 'round',
              'line-cap': 'round',
              'visibility': 'visible'
            },
            paint: {
              'line-color': layerColor,
              'line-width': 2,
              'line-opacity': 0.8
            }
          });
        }
      }

      //========================================================================

      // State variables.
      var didLoadCoverage = false;
      var didLoadRaw = false;
      var userId = '12345678';
      var mapId = 'CAMBRIDGE_MA_US';

      // Centered on 12W.
      var lat = 42.36654037918643
      var lng = -71.10111551337953
      mapboxgl.accessToken = 'pk.eyJ1IjoibWlsb2tub3dsZXM5NyIsImEiOiJja3oxcnlvYngxNjFrMnVtanB2N3dnZ212In0.4fQMtF4yhwXBhRVoh97x_w';

      // https://docs.mapbox.com/api/maps/styles/
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        // style: 'mapbox://styles/mapbox/dark-v10',
        center: [lng, lat],
        zoom: 14
      });

      //======================================================================

      function loadCoverageMap(user_id, map_id) {
        let layerName = 'coverage-layer';
        toggleVisibility(layerName, $('#show-coverage').prop('checked'));

        if (didLoadCoverage) {
          return;
        }
        didLoadCoverage = true;
        let ref = db.ref(firebaseDatabase, `user_data/${user_id}/coverage/${map_id}`);

        db.get(ref).then((snapshot) => {
          if (snapshot.exists()) {
            // Collect all of the geojson features into an array.
            let featureList = [];
            Object.entries(snapshot.val()).forEach(
              ([edge_id, edge_data]) => {
                let heat = edge_data['completed_by'].length; // TODO
                featureList.push({'type': 'Feature', 'geometry': edge_data['geojson']});
              }
            );
            addFeatureCollection(featureList, layerName, 'green');
          } else {
            console.log('Could not load matched activity polylines');
          }
        }).catch((error) => {
          console.error(error);
        });
      }

      //======================================================================

      function loadRawMap(user_id, map_id) {
        let layerName = 'raw-activity-layer';
        toggleVisibility(layerName, $('#show-raw').prop('checked'));

        if (didLoadRaw) {
          return;
        }
        didLoadRaw = true; // Block future clicks.

        let ref = db.ref(firebaseDatabase, `user_data/${user_id}/activity_data`);

        db.get(ref).then((snapshot) => {
          if (snapshot.exists()) {
            // Collect all of the geojson features into an array.
            let featureList = [];
            Object.entries(snapshot.val()).forEach(
              ([activity_id, activity_data]) => {
                // Make this into a Feature, which contains a geometry.
                featureList.push({'type': 'Feature', 'geometry': activity_data['geojson']});
              }
            );
            addFeatureCollection(featureList, layerName, 'blue');
          } else {
            console.log('Could not load raw activity polylines');
          }
        }).catch((error) => {
          console.error(error);
        });
      }

      //========================================================================

      // Put anything in here that should wait for map to load.
      map.on('load', () => {
        // Show the Cambridge city limits.
        map.addSource('cambridge-geojson', {
          type: 'geojson',
          data: '/static/geojson/cambridge.geojson'
        });

        map.addLayer({
          id: 'cambridge-boundary',
          type: 'line',
          source: 'cambridge-geojson',
          paint: {
            'line-width': 4,
            'line-color': 'red',
          }
        });

        map.addSource('edges-geojson', {
          type: 'geojson',
          data: '/static/geojson/drive_edges.geojson'
        });

        map.addLayer({
          id: 'network-edges',
          type: 'line',
          source: 'edges-geojson',
          paint: {
            'line-width': 2,
            'line-color': 'red',
            'line-opacity': 0.5
          }
        });

        //======================================================================

        $('#show-coverage').on('click', (e) => loadCoverageMap(userId, mapId));
        $('#show-raw').on('click', (e) => loadRawMap(userId, mapId));

        // Show this one on map load.
        loadCoverageMap(userId, mapId);

        $('#show-boundary').on('click', function(e) {
          let layerName = 'cambridge-boundary';
          toggleVisibility(layerName, $('#show-boundary').prop('checked'));
        });

        $('#show-network').on('click', function(e) {
          let layerName = 'network-edges';
          toggleVisibility(layerName, $('#show-network').prop('checked'));
        });

        //======================================================================
      });
    </script>
  </body>
</html>
