<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  {% include 'firebase.html' %}
  <body>
    {% include 'navbar.html' %}
    <script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@mapbox/polyline@1.1.1/src/polyline.min.js"></script>

    <div id="map">
    </div>

    <script>
      // Centered on 12W.
      var lat = 42.36654037918643
      var lng = -71.10111551337953
      mapboxgl.accessToken = 'pk.eyJ1IjoibWlsb2tub3dsZXM5NyIsImEiOiJja3oxcnlvYngxNjFrMnVtanB2N3dnZ212In0.4fQMtF4yhwXBhRVoh97x_w';

      // Draw the Map Matching route as a new layer on the map.
      function addRoute(uid, coords) {
        let layerName = 'layer-' + uid.toString();

        // If a route is already loaded, remove it.
        if (map.getSource(layerName)) {
          map.removeLayer(layerName);
          map.removeSource(layerName);
        } else {
          map.addLayer({
            id: layerName,
            type: 'line',
            source: {
              type: 'geojson',
              data: {
                type: 'LineString',
                coordinates: coords
              }
            },
            layout: {
              'line-join': 'round',
              'line-cap': 'round',
              'visibility': 'visible'
            },
            paint: {
              'line-color': 'blue',
              'line-width': 2,
              'line-opacity': 0.8
            }
          });
        }
      }

      function addMatchedSegment(activity_id, chunk_id, geometry) {
        let layerName = 'layer-' + activity_id.toString() + '-' + chunk_id.toString();

        // If a route is already loaded, remove it.
        if (map.getSource(layerName)) {
          map.removeLayer(layerName);
          map.removeSource(layerName);
        } else {
          map.addLayer({
            id: layerName,
            type: 'line',
            source: {
              type: 'geojson',
              data: geometry
            },
            layout: {
              'line-join': 'round',
              'line-cap': 'round',
              'visibility': 'visible'
            },
            paint: {
              'line-color': 'orange',
              'line-width': 2,
              'line-opacity': 0.8
            }
          });
        }
      }

      // https://docs.mapbox.com/api/maps/styles/
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        // style: 'mapbox://styles/mapbox/dark-v10',
        center: [lng, lat],
        zoom: 14
      });

      map.on('load', () => {
        // Show the Cambridge city limits.
        map.addSource('cambridge-geojson', {
          type: 'geojson',
          data: '/static/geojson/cambridge.geojson'
        });

        map.addLayer({
          id: 'cambridge-layer',
          type: 'line',
          source: 'cambridge-geojson',
          paint: {
            'line-width': 4,
            'line-color': 'red',
          }
        });

        // TODO(milo): Load heatmap geojson here from database URL.

        //======================================================================
        db.get(db.ref(firebaseDatabase, 'matched_activities')).then((snapshot) => {
          if (snapshot.exists()) {
            // https://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object
            Object.entries(snapshot.val()).forEach(
              ([activity_id, multi_chunk_data]) => {

                Object.entries(multi_chunk_data).forEach(
                  ([chunk_id, chunk_data]) => {
                    let geometry = chunk_data['matchings']['0']['geometry'];
                    addMatchedSegment(activity_id, chunk_id, geometry);
                  }
                )
              }
            );
          } else {
            console.log('Could not load raw activity polylines');
          }
        }).catch((error) => {
          console.error(error);
        });

        //======================================================================
        // db.get(db.ref(firebaseDatabase, 'activities')).then((snapshot) => {
        //   if (snapshot.exists()) {
        //     // https://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object
        //     Object.entries(snapshot.val()).forEach(
        //       ([key, value]) => {
        //         let p = value['map']['polyline'];
        //         var coords = polyline.decode(p).map((latlng) => [ latlng[1], latlng[0] ] );
        //         addRoute(key, coords);
        //       }
        //     );
        //   } else {
        //     console.log('Could not load raw activity polylines');
        //   }
        // }).catch((error) => {
        //   console.error(error);
        // });
      });
    </script>
  </body>
</html>
