<!DOCTYPE html>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a class="navbar-brand" href="/">Heatmap</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/map">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
