<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <p class="mt-3 text-muted">Click to re-compute stats on our database of activities.</p>
      <button id="fetch-button" class="btn btn-primary" type="button">
        Compute stats
      </button>
      <div id="fetch-status"></div>
      <h3 class="mt-3">ACTIVITIES OVERVIEW</h3>
      <div class="card mt-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="float-left card-text">Total activities</div>
              <div id="total-activities" class="float-end card-text">{{ total_activities or 'N/A' }}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="float-left card-text">Total distance</div>
              <div id="total-distance" class="float-right card-text">
                {% if total_distance is defined %}
                  {{ '%.1f'|format(total_distance) }} mi
                {% else %}
                  N/A
                {% endif %}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="float-left card-text">Total time</div>
              <div id="total-time" class="float-right card-text">
                {% if total_time is defined %}
                  {{ '%.1f'|format(total_time) }} hrs
                {% else %}
                    N/A
                {% endif %}
              </div>
            </div>
          </li>
        </ul>
      </div>

      {% for key in coverage %}
        <h3 class="mt-5">MAP COVERAGE: {{ key }}</h3>
        <div class="card mt-3">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <div class="float-left card-text">Completed segments</div>
                <div class="float-right card-text">
                  {{ '%d'|format(coverage[key]['completed_edges']) }} / {{ '%d'|format(coverage[key]['total_edges']) }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <div class="float-left card-text">Completed distance</div>
                <div class="float-right card-text">
                  {{ '%.1f'|format(coverage[key]['completed_distance']) }} / {{ '%.1f'|format(coverage[key]['total_distance']) }} mi
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <div class="float-left card-text">Percent coverage</div>
                <div class="float-right card-text">
                  {% if coverage[key]['percent_coverage'] is defined %}
                    {{ '%.1f'|format(coverage[key]['percent_coverage']) }} %
                  {% else %}
                      N/A
                  {% endif %}
              </div>
            </li>
          </ul>
          <!-- Only shows bar if variable is defined. -->
          {% if coverage[key]['percent_coverage'] is defined %}
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ coverage[key]['percent_coverage'] }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              {{ '%.1f'|format(coverage[key]['percent_coverage']) }}%
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}


    </div>
    <script>
      // Control fetch button behavior.
      $('#fetch-button').on('click', function(e) {
        if ($('#fetch-button').hasClass('disabled')) {
          return;
        }

        $('#fetch-button').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Computing...');
        $('#fetch-button').addClass('disabled');

        // Do stuff here.
        $.ajax({
          url: '/action/compute-stats',
          type: 'GET',
          data: {},
          success: function(r) {
            console.debug(r);

            $('#fetch-status').html(`\
              <div class="alert alert-success mt-3 text-small" role="alert">\
                Done! Refresh to see up-to-date stats below.\
              </div>`)

            // Reset to the original button state.
            $('#fetch-button').html('Compute stats');
            $('#fetch-button').removeClass('disabled');
          },
          error: function(xhr) {
            console.debug(xhr);

            if (xhr.responseJSON) {
              $('#fetch-status').html(`\
              <div class="alert alert-danger mt-3 text-small" role="alert">\
                Server error: ${xhr['responseJSON']['error']}\
              </div>`)
            } else {
              $('#fetch-status').html(`\
              <div class="alert alert-danger mt-3 text-small" role="alert">\
                Unknown server error\
              </div>`)
            }

            // Reset to the original button state.
            $('#fetch-button').html('Compute stats');
            $('#fetch-button').removeClass('disabled');
          }
        });
      });
    </script>
  </body>
</html>
